@charset "UTF-8";
.hd { width: 100%; height:122px; position:absolute; top: 0; 
    left: 0; z-index:91; }
    .hd_wrap { width: 1200px; margin: 0 auto; }
    .logo { display:block; width: 140px; height: auto; float:left;
    margin:30px 40px; }
    .logo img { display:block; width: 100%; height: auto; }
    .tnb { float:right; margin: 30px 0px; }
    .tnb a { padding: 1.5em; font-size:14px; color:rgb(32, 31, 31); }
    .tnb a:hover { color:rgb(221, 78, 34); font-weight:700; text-decoration: underline; text-decoration-style:dotted; }
    .gnb { clear:both; width: 100%; }
    /* clear-fix 처리 */
    .gnb:after { content:""; display:block; clear:both; } 
    .gnb > ul:after { content:""; display:block; clear:both; }
    .gnb > ul > li { float:left; width: 20%; height:30px; line-height: 40px; position:relative; }
    .gnb .dp1 { display:block; color:rgb(236, 230, 230); text-align: center; 
    background-color:rgb(202, 52, 52); font-size:16px; }
    .gnb li:hover .dp1 { color:#fff; background-color:rgb(204, 85, 85); }
    .gnb .sub { display:none; width:83%; height:auto; position:absolute; top:40px; background-color:#ccc;
    left: 0; z-index:90; height: 124px; }
    .gnb:hover li .sub { display:block;  }
    .gnb li .sub li { clear:both; height: 30px; line-height: 30px;
    border-bottom:1px solid #fff; }
    .gnb li .sub li a { background-color:#ccc; color:#111; font-size:13px; display:block; text-indent:1em; 
    overflow: hidden; white-space:nowrap; text-overflow: ellipsis; }
    .gnb li .sub li:hover a { color:rgb(202, 81, 81);  }
    .content { clear: both; width: 100%; }
    .vs { clear:both; width: 100%; height:100vh; overflow:hidden; }
    .vdo { display: block; width:100%; height:auto; }
    .vdo2 { display: block; width:100%; height:auto; }